*{
    box-sizing: border-box
    font-size 20px;
    font-family: 'Poppins'"sans-serif";
    color:white
}

body {
    display:block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:black;
    place-items: center;
}

.RX7wrapper img{
    width: 350px;
    height: 500px;
    image-orientation:center;
    border: 3px solid #fff;
    border-radius: 10px;
   margin-right: 10px;
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}

head{
    text-decoration-color: white;
}

.RX7wrapper{
    display:block;
    justify-content:center;
    align-items: center;
    text-align: center;
   margin:150px auto;
   width: 70%;
}

.RX7description h2 {
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
}

.RX7description p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    height:30vh;
    display:grid;
    place-items:center;
}
